<h1>Listing Movies</h1><br>
<%flash.each do |name,msg| %>
<div class="alert"><%= msg%></div>
<% end %>
<br>
<%= form_tag(movies_path, method: :get) do %>
<%= text_field_tag :name %>
<%= submit_tag 'Search', name: nil %>
<%= radio_button_tag :is_showing, ""%>
<%= label :is_showing, "すべて", {value: "", style: "display: inline-block;"} %>
<%= radio_button_tag  :is_showing, 1%>
<%= label :is_showing, "公開中", {value: 1, style: "display: inline-block;"} %>
<%= radio_button_tag :is_showing, 0 %>
<%= label :is_showing, "公開予定", {value: 0, style: "display: inline-block;"} %>
<% end %>
<br>



<br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>公開年</th>
            <th>概要</th>
            <th>画像URL</th>
            <th>上映中</th>
            <th>登録日時</th>
            <th>更新日時</th>
            <th colspan="8"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <td><a href="movies/<%= movie.id %>/edit"><%= movie.id %></a></td>
            <td><%= movie.name %></td>
            <td><%= movie.year %></td>
            <td><%= movie.description %></td>
            <td><img src=<%= movie.image_url %> width=50 height=50></td>
            <td>
                <% if movie.is_showing == true then %>
                公開中
                <% else %>
                公開予定
                <% end %>
            </td>
            <td><%= movie.created_at %></td>
            <td><%= movie.updated_at %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>